# Итоговый проект: Анализ вакансий

## 1. Общее количество и распределение вакансий

In [28]:
import pandas as pd
import psycopg2
import warnings

warnings.filterwarnings('ignore', category=UserWarning, 
                        message='pandas only supports SQLAlchemy connectable')

In [29]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [30]:
# Создаём соединение с заданными параметрами:
connection = psycopg2.connect(
   dbname=DBNAME,
   user=USER,
   host=HOST,
   password=PASSWORD,
   port=PORT
)

### 1.1 Общее количество вакансий в базе

In [8]:
query = '''-- 1.1 Общее количество вакансий в базе
SELECT 
    COUNT(*) as total_vacancies,
    COUNT(DISTINCT employer_id) as unique_employers,
    COUNT(DISTINCT area_id) as unique_regions
FROM vacancies;
'''

result = pd.read_sql_query(query, connection)

print("\n" + "="*60 + "\n")
print(f'Вакансий в базе: {result.iat[0, 0]}')
print("\n" + "="*60 + "\n")

============================================================

Вакансий в базе: 49197

============================================================

### 1.2 Топ-10 регионов по количеству вакансий

In [11]:
query = '''-- 1.2 Топ-10 регионов по количеству вакансий
SELECT 
    a.name as region,
    COUNT(v.id) as vacancy_count,
    ROUND(COUNT(v.id) * 100.0 / SUM(COUNT(v.id)) OVER(), 2) as percentage
FROM vacancies v
JOIN areas a ON v.area_id = a.id
GROUP BY a.id, a.name
ORDER BY vacancy_count DESC
LIMIT 10;
'''

result = pd.read_sql_query(query, connection)

print(result)

            region  vacancy_count  percentage
0           Москва           5333       10.84
1  Санкт-Петербург           2851        5.80
2            Минск           2112        4.29
3      Новосибирск           2006        4.08
4           Алматы           1892        3.85
5     Екатеринбург           1698        3.45
6  Нижний Новгород           1670        3.39
7           Казань           1415        2.88
8        Краснодар           1301        2.64
9           Самара           1144        2.33

### Выводы по блоку:

1. Объем данных: В базе содержится 49 197 вакансий от работодателей из 174 регионов. Это значительный объем данных, позволяющий проводить комплексный анализ рынка труда.

2. Географическое распределение:

* Москва лидирует с 5 333 вакансиями (10.84%), что подтверждает ее статус главного экономического центра.

* Санкт-Петербург на втором месте с 2 851 вакансией (5.80%).

* Минск (Беларусь) занимает 3-е место с 2 112 вакансиями (4.29%).

* Региональные центры России (Новосибирск, Екатеринбург, Казань) составляют 10-15% от общего числа вакансий.

3. Концентрация рынка: Топ-10 городов содержат 43.8% всех вакансий, что указывает на значительную концентрацию рынка труда в крупных городах.

## 2. Анализ зарплатных предложений

### 2.1 Статистика по зарплатам (только вакансии с указанными зарплатами)

In [12]:
query = '''-- 2.1 Статистика по зарплатам (только вакансии с указанными зарплатами)
SELECT 
    COUNT(*) as vacancies_with_salary,
    ROUND(AVG(salary_from), 0) as avg_salary_from,
    ROUND(AVG(salary_to), 0) as avg_salary_to,
    ROUND(AVG((salary_from + salary_to) / 2.0), 0) as avg_salary_mid,
    MIN(salary_from) as min_salary_from,
    MAX(salary_to) as max_salary_to
FROM vacancies
WHERE salary_from IS NOT NULL AND salary_to IS NOT NULL;'''

result = pd.read_sql_query(query, connection)

print(result)

   vacancies_with_salary  avg_salary_from  avg_salary_to  avg_salary_mid  \
0                  10102          70484.0       107664.0         89074.0

   min_salary_from  max_salary_to
0               30        1000000

### 2.2 Топ-10 регионов по средней зарплате

In [13]:
query = '''-- 2.2 Топ-10 регионов по средней зарплате
SELECT 
    a.name as region,
    COUNT(v.id) as vacancy_count,
    ROUND(AVG(v.salary_from), 0) as avg_from,
    ROUND(AVG(v.salary_to), 0) as avg_to,
    ROUND(AVG((v.salary_from + v.salary_to) / 2.0), 0) as avg_mid
FROM vacancies v
JOIN areas a ON v.area_id = a.id
WHERE v.salary_from IS NOT NULL 
  AND v.salary_to IS NOT NULL
GROUP BY a.id, a.name
HAVING COUNT(v.id) >= 50
ORDER BY avg_mid DESC
LIMIT 10;'''

result = pd.read_sql_query(query, connection)

print(result)

            region  vacancy_count  avg_from    avg_to   avg_mid
0           Москва            712  105073.0  158135.0  131604.0
1             Сочи             67   96661.0  154513.0  125587.0
2      Новосибирск            440   89427.0  134965.0  112196.0
3            Томск            158   82925.0  137135.0  110030.0
4  Нижний Новгород            296   86082.0  132141.0  109111.0
5            Пермь            151   81936.0  126160.0  104048.0
6  Санкт-Петербург            539   82414.0  125300.0  103857.0
7            Минск            213   71780.0  127118.0   99449.0
8      Калининград            100   77444.0  118530.0   97987.0
9   Ростов-на-Дону            253   77176.0  118339.0   97757.0

### Выводы по блоку:

1. Данные о зарплатах: Только 20.5% вакансий (10 102 из 49 197) содержат полную информацию о зарплате (и нижняя, и верхняя границы). Это важное ограничение для анализа.

2. Уровень зарплат:

- Средняя зарплата составляет около 89 074 руб.

- Москва лидирует со средней зарплатой 131 604 руб., что на 48% выше среднего по стране.

- Интересный факт: Сочи занимает 2-е место по зарплатам (125 587 руб.), возможно из-за туристической и строительной отраслей.

3. Разброс зарплат: Минимальная зарплата - 30 руб., максимальная - 1 000 000 руб., что показывает экстремальное неравенство в оплате труда.

## 3. Анализ требований к опыту работы

### 3.1 Распределение по требуемому опыту

In [14]:
query = '''-- 3.1 Распределение по требуемому опыту
SELECT 
    experience,
    COUNT(*) as count,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 2) as percentage,
    ROUND(AVG(
        CASE 
            WHEN salary_from IS NOT NULL AND salary_to IS NOT NULL 
            THEN (salary_from + salary_to) / 2.0 
        END
    ), 0) as avg_salary
FROM vacancies
WHERE experience IS NOT NULL
GROUP BY experience
ORDER BY 
    CASE experience
        WHEN 'Нет опыта' THEN 1
        WHEN 'От 1 года до 3 лет' THEN 2
        WHEN 'От 3 до 6 лет' THEN 3
        WHEN 'Более 6 лет' THEN 4
        ELSE 5
    END;'''

result = pd.read_sql_query(query, connection)

print(result)

           experience  count  percentage  avg_salary
0           Нет опыта   7197       14.63     46290.0
1  От 1 года до 3 лет  26152       53.16     78115.0
2       От 3 до 6 лет  14511       29.50    141258.0
3         Более 6 лет   1337        2.72    166307.0

### Выводы по блоку:

1. Структура рынка по опыту:

- 53.16% вакансий требуют опыта 1-3 года - это основной сегмент рынка.

- 29.50% - опыт 3-6 лет (Middle-уровень).

- 14.63% - без опыта (entry-level).

- 2.72% - опыт более 6 лет (Senior/Lead).

2. Зарплатная динамика:

- С ростом опыта зарплата увеличивается экспоненциально:

-- Без опыта: 46 290 руб.

-- 1-3 года: 78 115 руб. (+69%)

-- 3-6 лет: 141 258 руб. (+205% от начального уровня)

-- Более 6 лет: 166 307 руб. (+259%)

## 4. Анализ форматов занятости и графика

### 4.1 Распределение по типу занятости

In [16]:
query = '''-- 4.1 Распределение по типу занятости
SELECT 
    employment,
    COUNT(*) as count,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 2) as percentage
FROM vacancies
WHERE employment IS NOT NULL
GROUP BY employment
ORDER BY count DESC;'''

result = pd.read_sql_query(query, connection)

print(result)

            employment  count  percentage
0     Полная занятость  46069       93.64
1  Частичная занятость   2072        4.21
2           Стажировка    761        1.55
3     Проектная работа    295        0.60

### 4.2 Распределение по графику работы

In [17]:
query = '''-- 4.2 Распределение по графику работы
SELECT 
    schedule,
    COUNT(*) as count,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 2) as percentage,
    ROUND(AVG(
        CASE 
            WHEN salary_from IS NOT NULL AND salary_to IS NOT NULL 
            THEN (salary_from + salary_to) / 2.0 
        END
    ), 0) as avg_salary
FROM vacancies
WHERE schedule IS NOT NULL
GROUP BY schedule
ORDER BY count DESC;'''

result = pd.read_sql_query(query, connection)

print(result)

           schedule  count  percentage  avg_salary
0       Полный день  36424       74.04     80627.0
1  Удаленная работа   9311       18.93    124861.0
2     Гибкий график   2039        4.14    110130.0
3    Сменный график   1054        2.14     45952.0
4    Вахтовый метод    369        0.75    112976.0

### Выводы по блоку:


1. Тип занятости:

- 93.64% - полная занятость (доминирующий формат).

- 4.21% - частичная занятость.

- Стажировки и проектная работа составляют менее 2.5%.

2. График работы:

- 74.04% - полный день (традиционный формат).

- 18.93% - удаленная работа (значительная доля, отражает современные тренды).

- Интересный факт: Удаленная работа ассоциируется с самой высокой средней зарплатой (124 861 руб.), что может указывать на более квалифицированные позиции в этом формате.

## 5. Анализ работодателей и индустрий

 ### 5.1 Топ-10 работодателей по количеству вакансий

In [20]:
query = '''-- 5.1 Топ-10 работодателей по количеству вакансий
SELECT 
    e.name as employer,
    COUNT(v.id) as vacancy_count,
    a.name as region,
    ROUND(AVG(
        CASE 
            WHEN v.salary_from IS NOT NULL AND v.salary_to IS NOT NULL 
            THEN (v.salary_from + v.salary_to) / 2.0 
        END
    ), 0) as avg_salary
FROM vacancies v
JOIN employers e ON v.employer_id = e.id
JOIN areas a ON e.area = a.id
GROUP BY e.id, e.name, a.name
ORDER BY vacancy_count DESC
LIMIT 10;'''

result = pd.read_sql_query(query, connection)

print(result)

                employer  vacancy_count           region  avg_salary
0                 Яндекс           1933           Москва     42079.0
1             Ростелеком            491           Москва     48000.0
2               Тинькофф            444           Москва         NaN
3                   СБЕР            428           Москва    185656.0
4          Газпром нефть            331  Санкт-Петербург     70000.0
5            ИК СИБИНТЕК            327           Россия     57320.0
6                    МТС            292           Москва     70000.0
7                DataArt            247          Воронеж         NaN
8  Совкомбанк Технологии            204           Москва     43056.0
9             Первый Бит            176           Москва     96408.0

### 5.2 Распределение по сферам деятельности

In [21]:
query = '''-- 5.2 Распределение по сферам деятельности
SELECT 
    i.name as industry,
    COUNT(DISTINCT v.id) as vacancy_count,
    COUNT(DISTINCT e.id) as employer_count,
    ROUND(AVG(
        CASE 
            WHEN v.salary_from IS NOT NULL AND v.salary_to IS NOT NULL 
            THEN (v.salary_from + v.salary_to) / 2.0 
        END
    ), 0) as avg_salary
FROM vacancies v
JOIN employers e ON v.employer_id = e.id
JOIN employers_industries ei ON e.id = ei.employer_id
JOIN industries i ON ei.industry_id = i.id
GROUP BY i.id, i.name
ORDER BY vacancy_count DESC
LIMIT 15;'''

result = pd.read_sql_query(query, connection)

print(result)

                                             industry  vacancy_count  \
0                 Разработка программного обеспечения          12499
1   Системная интеграция,  автоматизации технологи...          11034
2   Интернет-компания (поисковики, платежные систе...           6413
3                                                Банк           2742
4                                     Мобильная связь           1585
5                                  Кадровые агентства           1143
6                               Консалтинговые услуги           1137
7                                  Интернет-провайдер           1095
8                        Розничная сеть (продуктовая)           1034
9                                 Фиксированная связь           1028
10                               Оптоволоконная связь           1012
11  Маркетинговые, рекламные, BTL, дизайнерские, E...           1001
12                                   Интернет-магазин            788
13  Электронно-вычислительная, оптическая, контрол...            622
14  Электронно-вычислительная, оптическая, контрол...            584

    employer_count  avg_salary
0             2592    118567.0
1             2160    104045.0
2             1157     93677.0
3              200     85558.0
4              105     55837.0
5              271    137122.0
6              435     84806.0
7              123     67158.0
8              284     68497.0
9               76     52306.0
10             123     53466.0
11             399     75369.0
12             217     93137.0
13             220     83578.0
14             200     80488.0

### Выводы по блоку:

1. Крупнейшие работодатели:

- Яндекс (1 933 вакансии) - абсолютный лидер.

- Ростелеком, Тинькофф, СБЕР - более 400 вакансий каждый.

- Парадокс: Тинькофф не указывает зарплаты в вакансиях (avg_salary = NaN).

2. Сферы деятельности:

- IT-сектор доминирует: Разработка ПО (12 499 вакансий) и системная интеграция (11 034) составляют почти 50% от проанализированных вакансий.

- Высокие зарплаты в кадровых агентствах (137 122 руб.) могут объясняться включением зарплат руководящих позиций.

## 6. Анализ ключевых навыков

### 6.1 Самые востребованные навыки

In [22]:
query = '''-- 6.1 Самые востребованные навыки 
SELECT 
    skill,
    COUNT(*) as demand_count,
    ROUND(AVG(
        CASE 
            WHEN v.salary_from IS NOT NULL AND v.salary_to IS NOT NULL 
            THEN (v.salary_from + v.salary_to) / 2.0 
        END
    ), 0) as avg_salary
FROM vacancies v
CROSS JOIN LATERAL unnest(string_to_array(v.key_skills, ';')) as skill
WHERE v.key_skills IS NOT NULL AND v.key_skills != ''
GROUP BY skill
ORDER BY demand_count DESC
LIMIT 20;'''

result = pd.read_sql_query(query, connection)

print(result)

                                                skill  demand_count  \
0                                 1С программирование            94
1   Пользователь ПК\tРабота в команде\tРемонт ноут...            83
2   PostgreSQL\tSQL\tLinux\t1С программирование\tM...            71
3           Ответственность\tКлиентоориентированность            48
4   MS PowerPoint\tПодготовка презентаций\tРазрабо...            27
5              1С программирование\t1С: Предприятие 8            26
6   Настройка ПК\tСборка ПК\tРемонт ПК\tНастройка ...            26
7                                     Английский язык            26
8   Грамотная речь\tРабота в команде\tГрамотность\...            25
9                                                 C++            24
10                                               Java            24
11  Настройка ПК\tСборка ПК\tНастройка сетевых под...            22
12                                                SQL            22
13                   ERP\tИНТЕРМЕХ Search\tНавыки VBA            22
14  Ремонт ПК\tАктивные продажи\tОбучение персонал...            22
15                                    Пользователь ПК            21
16        Linux\tMac Os\tWindows 7\tCitrix\tМотивация            21
17         Управление проектами\tSAP\tSAP ERP\tSAP SD            21
18                                             Python            20
19  Выездное обслуживание\tТехническое обслуживани...            20

    avg_salary
0     125564.0
1          NaN
2          NaN
3     200000.0
4          NaN
5      79500.0
6          NaN
7      87434.0
8      34750.0
9     201500.0
10     16948.0
11         NaN
12    112500.0
13         NaN
14         NaN
15     44190.0
16     42500.0
17         NaN
18    170000.0
19         NaN

### 6.2 Навыки с самой высокой зарплатой

In [23]:
query = '''-- 6.2 Навыки с самой высокой зарплатой
SELECT 
    skill,
    COUNT(*) as demand_count,
    ROUND(AVG(
        CASE 
            WHEN v.salary_from IS NOT NULL AND v.salary_to IS NOT NULL 
            THEN (v.salary_from + v.salary_to) / 2.0 
        END
    ), 0) as avg_salary
FROM vacancies v
CROSS JOIN LATERAL unnest(string_to_array(v.key_skills, ';')) as skill
WHERE v.key_skills IS NOT NULL 
  AND v.key_skills != ''
  AND v.salary_from IS NOT NULL 
  AND v.salary_to IS NOT NULL
GROUP BY skill
HAVING COUNT(*) >= 10
ORDER BY avg_salary DESC
LIMIT 20;'''

result = pd.read_sql_query(query, connection)

print(result)

                                                skill  demand_count  \
0                        Python\tPostgreSQL\tGit\tSQL            10
1   MySQL\tSymfony\tООП\tPHP 7.3\tPHP7\tNoSQL\tSOL...            17
2                                                 C++            11
3           Ответственность\tКлиентоориентированность            48
4                                               C/C++            11
5   Kotlin\tGit\tAndroid\tAndroid SDK\tClean Archi...            13
6                   Swift\tGit\tRealm\tiOS\tООП\tMVVM            14
7                                 1С программирование            36
8   Удаленная работа\t1C ERP\tРабота в команде\tРа...            11
9   1С: Предприятие 8\t1С: Документооборот\t1С про...            19
10  Работа с большим объемом информации\tMS PowerP...            10
11        Linux\tMac Os\tWindows 7\tCitrix\tМотивация            21
12  Грамотная речь\tРабота в команде\tГрамотность\...            25

    avg_salary
0     398650.0
1     206500.0
2     201500.0
3     200000.0
4     189750.0
5     160000.0
6     160000.0
7     125564.0
8     115000.0
9      75263.0
10     50000.0
11     42500.0
12     34750.0

### Выводы по блоку:

1. Проблема с данными: Поле key_skills содержит строки с несколькими навыками, разделенными точкой с запятой или табуляцией, что затрудняет анализ. Необходима нормализация данных.

2. Наиболее упоминаемые навыки:

- 1С программирование (94 упоминания)

- Комбинации IT-навыков (PostgreSQL, SQL, Linux)

3. Навыки с высокой зарплатой:

- Python + PostgreSQL + Git + SQL: 398 650 руб.

- C++: 201 500 руб.

Важно: Навыки с высокой зарплатой имеют небольшое количество упоминаний (10-20), что может указывать на дефицит специалистов.

## Дополнительные исследования

### 7. Корреляция параметров вакансий

In [31]:
query = '''-- 7.1 Влияние опыта на зарплату по регионам
SELECT 
    a.name as region,
    v.experience,
    COUNT(*) as vacancy_count,
    ROUND(AVG((v.salary_from + v.salary_to) / 2.0), 0) as avg_salary
FROM vacancies v
JOIN areas a ON v.area_id = a.id
WHERE v.salary_from IS NOT NULL 
  AND v.salary_to IS NOT NULL
  AND v.experience IS NOT NULL
  AND a.name IN ('Москва', 'Санкт-Петербург', 'Новосибирск')
GROUP BY a.name, v.experience
HAVING COUNT(*) >= 10
ORDER BY a.name, 
    CASE v.experience
        WHEN 'Нет опыта' THEN 1
        WHEN 'От 1 года до 3 лет' THEN 2
        WHEN 'От 3 до 6 лет' THEN 3
        WHEN 'Более 6 лет' THEN 4
        ELSE 5
    END;'''

result = pd.read_sql_query(query, connection)

print(result)

             region          experience  vacancy_count  avg_salary
0            Москва           Нет опыта             91     64453.0
1            Москва  От 1 года до 3 лет            385    112471.0
2            Москва       От 3 до 6 лет            218    184801.0
3            Москва         Более 6 лет             18    236034.0
4       Новосибирск           Нет опыта             67     52514.0
5       Новосибирск  От 1 года до 3 лет            253     95867.0
6       Новосибирск       От 3 до 6 лет            113    175055.0
7   Санкт-Петербург           Нет опыта            101     51443.0
8   Санкт-Петербург  От 1 года до 3 лет            295     95500.0
9   Санкт-Петербург       От 3 до 6 лет            132    160345.0
10  Санкт-Петербург         Более 6 лет             11    131364.0

### Выводы по блоку:

Ключевые инсайты из анализа:
1. Москва - абсолютный лидер по зарплатам на всех уровнях
- Специалисты без опыта в Москве получают 64 453 руб. - это на 25% выше, чем в Санкт-Петербурге (51 443 руб.) и на 23% выше, чем в Новосибирске (52 514 руб.)

- Middle-специалисты (3-6 лет) в Москве получают 184 801 руб. - это на 15% выше, чем в Новосибирске (175 055 руб.) и на 15% выше, чем в Петербурге (160 345 руб.)

- Senior-специалисты (6+ лет) демонстрируют самый большой разрыв: Москва (236 034 руб.) против Петербурга (131 364 руб.) - разница 80%!

2. Новосибирск как неожиданный конкурент Петербурга
- Middle-уровень (3-6 лет): Новосибирск (175 055 руб.) опережает Петербург (160 345 руб.) на 9.2%

- Junior-уровень (1-3 года): разница минимальна - 95 867 руб. (Новосибирск) vs 95 500 руб. (Петербург)

- Вывод: Новосибирск успешно конкурирует с Петербургом за Middle-специалистов, что свидетельствует о развитии регионального IT-кластера

3. Экспоненциальный рост зарплат с опытом
- Москва: от Junior к Senior зарплата растет в 3.66 раза (64К → 236К)

- Новосибирск: от Junior к Middle - в 3.33 раза (52К → 175К)

- Санкт-Петербург: от Junior к Senior - в 2.55 раза (51К → 131К)

4. Аномалия в данных: Петербургский Senior-парадокс
- Senior-специалисты в Петербурге (131 364 руб.) получают МЕНЬШЕ, чем Middle-специалисты (160 345 руб.)

- Возможные объяснения:

I. Малая выборка (только 11 вакансий для Senior в Петербурге)

II. Искажение данных (в категорию "Senior" попали управленцы с фиксированным окладом)

III. Разная отраслевая структура Senior-вакансий

5. Корреляция "опыт-зарплата" сильнее в Москве
- Коэффициент роста зарплаты с опытом:

-- Москва: +74% (Junior → Middle), +64% (Middle → Senior)

-- Новосибирск: +83% (Junior → Middle)

-- Петербург: +68% (Junior → Middle), -18% (Middle → Senior)*

*Отрицательная корреляция в Петербурге - статистическая аномалия

## 8. Анализ работодателей по регионам

In [24]:
query = '''-- 8.1 Регионы с наибольшим количеством работодателей
SELECT 
    a.name as region,
    COUNT(DISTINCT e.id) as employer_count,
    COUNT(v.id) as vacancy_count,
    ROUND(COUNT(v.id) * 1.0 / COUNT(DISTINCT e.id), 1) as avg_vacancies_per_employer
FROM employers e
LEFT JOIN vacancies v ON e.id = v.employer_id
JOIN areas a ON e.area = a.id
GROUP BY a.name
ORDER BY employer_count DESC
LIMIT 15;'''

result = pd.read_sql_query(query, connection)

print(result)

             region  employer_count  vacancy_count  avg_vacancies_per_employer
0            Москва            5864          16462                         2.8
1   Санкт-Петербург            2217           3532                         1.6
2             Минск            1115           2484                         2.2
3            Алматы             721           1250                         1.7
4      Екатеринбург             609           1352                         2.2
5       Новосибирск             573           1304                         2.3
6            Казань             480           1007                         2.1
7   Нижний Новгород             426            855                         2.0
8            Россия             410           1338                         3.3
9         Краснодар             409            724                         1.8
10   Ростов-на-Дону             335            613                         1.8
11       Красноярск             331            613                         1.9
12          Ташкент             326            679                         2.1
13           Самара             315            521                         1.7
14       Нур-Султан             312            477                         1.5

### Выводы по блоку:

Ключевые инсайты из данных:
1. Москва - абсолютный центр деловой активности
- 5 864 работодателей - больше, чем в следующей тройке городов (Петербург + Минск + Екатеринбург) вместе взятых

- 16 462 вакансии - 33.5% от всех вакансий в базе

- 2.8 вакансий на работодателя - показывает сбалансированный рынок с множеством компаний

2. Санкт-Петербург - "молчаливый" рынок
- 2 217 работодателей - существенно меньше Москвы (-62%)

- Всего 1 532 вакансии - низкая активность найма

- 1.6 вакансий на работодателя - самый низкий показатель среди крупных городов

- Вывод: В Петербурге много маленьких компаний или компании редко обновляют вакансии

3. Международный контекст: СНГ на подъеме
- Минск (Беларусь): 1 115 работодателей, 2 484 вакансии - 3-е место после Москвы и Петербурга

- Алматы (Казахстан): 721 работодатель - 4-е место

- Ташкент (Узбекистан): 326 работодателей - 13-е место

- Вывод: Российский рынок труда тесно интегрирован с рынками СНГ

4. Региональные центры России: борьба за второе место
- Екатеринбург (609) vs Новосибирск (573) - близкая конкуренция

- Казань (480) vs Нижний Новгород (426) - стабильные позиции

- Показатель эффективности (вакансий на работодателя):

-- Новосибирск: 2.3 (максимум среди регионов)

-- Екатеринбург: 2.2

-- Казань: 2.1

5. Загадочный регион "Россия"
- 410 работодателей, 1 338 вакансий

- 3.3 вакансий на работодателя - ЛИДЕР по эффективности

- Возможные объяснения:

I. Крупные федеральные компании с удаленными позициями

II. Рекрутинговые агентства с множеством вакансий

III. IT-компании с дистанционным наймом

6. Эффективность рынков труда
Топ-5 по вакансиям на работодателя:

I. Россия (удаленно) - 3.3

II. Москва - 2.8

III. Новосибирск - 2.3

IV. Екатеринбург, Минск - 2.2

V. Казань, Ташкент - 2.1

Аутсайдеры:

1. Санкт-Петербург - 1.6

2. Нур-Султан - 1.5

Стратегические выводы:
Для бизнеса:
1. Москва - лучший выбор для открытия офиса, но высокая конкуренция

2. Новосибирск и Екатеринбург - наиболее эффективные региональные рынки

3. Санкт-Петербург требует осторожности - низкая активность найма

Для соискателей:
1. "Россия" (удаленно) - максимум предложений на одну компанию

2. Москва - максимум выбора компаний

3. Новосибирск - лучший баланс для регионального центра

Тенденции рынка:
1. Смещение активности в регионы (Минск, Алматы, Новосибирск)

2. Удаленный формат ("Россия") показывает наибольшую эффективность

3. Петербургский парадокс: 2-й по размеру рынок, но минимальная активность

Рекомендации:
Для Правительства Москвы:
1 Поддерживать статус делового центра

2. Развивать партнерство с региональными хабами

3. Мониторить эффективность vs стоимость ведения бизнеса

Для региональных властей:
1. Новосибирску и Екатеринбургу усилить продвижение как IT-хабов

2. Санкт-Петербургу проанализировать причины низкой активности

3. Казани и Нижнему Новгороду развивать специализированные кластеры

Для международных компаний:
1. СНГ как единый рынок труда: Минск, Алматы, Ташкент

2. Дистанционный найм ("Россия") - наиболее эффективный формат

3. Региональные центры России - альтернатива Москве с меньшими затратами

Прогноз на 2025-2026:
1. Рост доли удаленной работы до 30-40% всех вакансий

2. Усиление конкуренции между Новосибирском и Екатеринбургом

3. Активизация Петербурга после анализа причин текущей пассивности

4. Усиление интеграции рынков России и СНГ

Итоговый вывод: Российский рынок труда демонстрирует трехуровневую структуру:

1. Москва - абсолютный лидер по количеству компаний

2. Региональные хабы (Новосибирск, Екатеринбург) - наиболее эффективные

3. Удаленный формат ("Россия") - максимальная продуктивность на компанию

Главная интрига: Почему Санкт-Петербург, будучи вторым по размеру рынком, показывает минимальную активность найма? Это требует отдельного исследования.

Итоговый вывод: Российский рынок труда демонстрирует трехуровневую структуру с явным доминированием Москвы, но при этом региональные хабы успешно развиваются. IT-сектор остается локомотивом, но наблюдается его проникновение во все отрасли экономики. Удаленная работа становится важным фактором, снижающим географическое неравенство и повышающим эффективность рынка труда.

Главная задача на ближайшие годы - развитие региональных ИТ-кластеров и повышение прозрачности данных о рынке труда для более эффективного планирования карьеры и бизнес-стратегий.